# b/314035704
# Data
type per_boot_file, file_type, data_file_type, core_data_file_type;

# sysfs
type sysfs_bcmdhd, sysfs_type, fs_type;
type sysfs_chargelevel, sysfs_type, fs_type;

# mount FS
allow proc_vendor_sched proc:filesystem associate;

