# MTE in -eng build: all cores in Sync mode
on init
    # Per-core mode overrides.
    # Little Cores: sync
    write /sys/devices/system/cpu/cpu0/mte_tcf_preferred sync
    write /sys/devices/system/cpu/cpu1/mte_tcf_preferred sync
    write /sys/devices/system/cpu/cpu2/mte_tcf_preferred sync
    write /sys/devices/system/cpu/cpu3/mte_tcf_preferred sync
    # Mid Cores: sync
    write /sys/devices/system/cpu/cpu4/mte_tcf_preferred sync
    write /sys/devices/system/cpu/cpu5/mte_tcf_preferred sync
    write /sys/devices/system/cpu/cpu6/mte_tcf_preferred sync
    # Big Core: sync
    write /sys/devices/system/cpu/cpu7/mte_tcf_preferred sync
