service copy_efs_files_to_data /vendor/bin/copy_efs_files_to_data
    user root
    group root radio system audio media graphics camera
    stdio_to_kmsg
    oneshot
    disabled

on post-fs-data
    mkdir /data/vendor/copied 0775 radio system
    restorecon_recursive /data/vendor/copied
    exec_start copy_efs_files_to_data
    mount_all /vendor/etc/fstab.efs.from_data
    restorecon_recursive /mnt/vendor/persist
    restorecon_recursive /data/vendor/ss
    setprop ro.vendor.persist.status mounted

on late-fs
    # for modem related functions
    restorecon_recursive /mnt/vendor/efs
    chown radio system /mnt/vendor/efs
    restorecon_recursive /mnt/vendor/efs_backup
    chown radio system /mnt/vendor/efs_backup
    restorecon_recursive /mnt/vendor/modem_userdata
    chown radio system /mnt/vendor/modem_userdata
