# pixel_modem_app is the selinux domain for pixel_modem_service

type pixel_modem_app, domain;

app_domain(pixel_modem_app)

allow pixel_modem_app app_api_service:service_manager find;
allow pixel_modem_app radio_service:service_manager find;

# Allow the pixel_modem_app to find and call shared modem platform service.
hal_client_domain(pixel_modem_app, hal_shared_modem_platform)
