app_domain(pixeldisplayservice_app)

typeattribute pixeldisplayservice_app coredomain;

allow pixeldisplayservice_app accessibility_service:service_manager find;
allow pixeldisplayservice_app activity_service:service_manager find;
allow pixeldisplayservice_app activity_task_service:service_manager find;
allow pixeldisplayservice_app cameraserver_service:service_manager find;
allow pixeldisplayservice_app connectivity_service:service_manager find;
allow pixeldisplayservice_app content_capture_service:service_manager find;
allow pixeldisplayservice_app content_service:service_manager find;
allow pixeldisplayservice_app display_service:service_manager find;
allow pixeldisplayservice_app graphicsstats_service:service_manager find;
allow pixeldisplayservice_app hint_service:service_manager find;
allow pixeldisplayservice_app input_method_service:service_manager find;
allow pixeldisplayservice_app mount_service:service_manager find;
allow pixeldisplayservice_app netstats_service:service_manager find;
allow pixeldisplayservice_app network_management_service:service_manager find;
allow pixeldisplayservice_app power_service:service_manager find;
allow pixeldisplayservice_app protolog_configuration_service:service_manager find;
allow pixeldisplayservice_app sensitive_content_protection_service:service_manager find;
allow pixeldisplayservice_app sensorservice_service:service_manager find;
allow pixeldisplayservice_app thermal_service:service_manager find;
allow pixeldisplayservice_app virtual_device_native_service:service_manager find;
